.info-wrap {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    justify-content: space-between;
    padding: 2rem;
}

.map {
    position: relative;
    z-index: 1;
    width: 100%;
}

.map-icon {
    position: absolute;
    z-index: 100;
    bottom: 0.6rem;
    right: 1rem;
}

.map-shadow {
    box-shadow: inset 0 -2em 2em rgb(247, 243, 239);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.map-wrap {
    grid-row: 1/2;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}


.YourTripMap {
    display: grid;
    grid-template-rows: 50% auto;
    height: 100vh;
    padding-bottom: 5.2rem;
}