.arrival-time {
    padding-bottom: 0.5rem;
}

.trip-notes {
    width: 80%;
}

.YourTrip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    padding: 4.5rem 1.6rem 3rem;
    height: 95vh;
}