.arrival-time {
    padding-bottom: 0.5rem;
}

.trip-notes {
    width: 70vw;
}

.YourTrip {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 1.4rem;
    min-height: 95vh;
}