.vehicle-info-wrap {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    justify-content: space-between;
}

.vehicle-text-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-evenly;
}

.YourVehicle {
    display: grid;
    grid-template-rows: 50% auto;
    height: 95vh;
    padding: 1rem 2.4rem 3rem;
    width: 100%;
}