.BottomNav {
    align-items: center;
    background-color: rgb(247, 243, 239);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.nav-icon {
    height: 2rem;
}

.nav-text {
    text-align: center;
}