.alto-logo {
  position: fixed;
  top: 1.5rem;
  z-index: 1000;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  height: 95vh;
  overflow-y: scroll;
}

.scroll-child {
  scroll-snap-align: start;
}