.alto-logo {
  position: fixed;
  top: 2rem;
  z-index: 1000;
}

.App {
  align-items: center;
  border: 1px solid rgb(221, 218, 214);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 500px;
  position: relative;
}

.kabob {
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 1000;
}

.scroll-container {
  height: 95vh;
  overflow-y: scroll;
  position: relative;
  scroll-snap-type: y mandatory;
}

.scroll-child {
  scroll-snap-align: start;
}