@font-face {
  font-family: 'Grotesk Regular';
  src: url(./fonts/PxGrotesk-Regular.otf);
}

@font-face {
  font-family: 'Grotesk Bold';
  src: url(./fonts/PxGrotesk-Bold.otf);
}

@font-face {
  font-family: 'Grotesk Light';
  src: url(./fonts/PxGrotesk-Light.otf);
}

@font-face {
  font-family: 'Linotype';
  src: url(./fonts/Linotype\ -\ OptimaLTStd.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 243, 239);
  color: rgb(108, 104, 91);
  font-family: 'Grotesk Regular', sans-serif;
}

.bold-weight {
  font-weight: 800;
}

.dark-color {
  color: rgb(30, 29, 30)
}

.default-button {
  letter-spacing: 0.1rem;
  padding: 0.8rem;
  background-color: inherit;
  border: 1px solid rgb(221, 218, 214);
}

.gold-heading {
  color: rgb(172, 130, 109);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.light-weight {
  font-weight: 200;
}

.linotype {
  font-family: 'Linotype', sans-serif;
}

.single-border {
  border-top: 1px solid rgb(221, 218, 214);
}

.shortened-border {
  margin-top: 1.1rem;
  width: 30vw;
}

.x-large {
  font-size: 4rem;
}

.x-small {
  font-size: 0.8rem;
}