@font-face {
  font-family: 'Grotesk Regular';
  src: url(./fonts/PxGrotesk-Regular.otf);
}

@font-face {
  font-family: 'Grotesk Bold';
  src: url(./fonts/PxGrotesk-Bold.otf);
}

@font-face {
  font-family: 'Grotesk Light';
  src: url(./fonts/PxGrotesk-Light.otf);
}

@font-face {
  font-family: 'Linotype';
  src: url(./fonts/Linotype\ -\ OptimaLTStd.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.active-button {
  background-color: rgb(172, 130, 109);
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(247, 243, 239);
  color: rgb(108, 104, 91);
  font-family: 'Grotesk Regular', sans-serif;
  height: 100%;
}

.bold-weight {
  font-weight: 800;
}

.button-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.col-head {
  padding: 0.4rem 0;
}

.col-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dark-color {
  color: rgb(30, 29, 30)
}

.default-button {
  border: 1px solid rgb(221, 218, 214);
  letter-spacing: 0.1rem;
  padding: 0.8rem;
  width: 100%;
}

.gold-heading {
  color: rgb(172, 130, 109);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.grotesk-light {
  font-family: 'Grotesk Light', sans-serif;
}

html {
  height: 100%;
}

.large {
  font-size: 3rem;
}

.light-weight {
  font-weight: 200;
}

.linotype {
  font-family: 'Linotype', sans-serif;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.single-border {
  border-top: 1px solid rgb(221, 218, 214);
}

.shortened-border {
  margin-top: 1.1rem;
  width: 30vw;
}

.x-large {
  font-size: 4rem;
  letter-spacing: -0.2rem;
}

.x-small {
  font-size: 0.8rem;
}